*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-image: url("../images/code-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    

}
section{
    display: flex;
    position: static;
    align-items: end;
    justify-content: end;
    width: 400px;
    height: 400px;
}
img{
    display: flex;
    position:static;
    width: 300px;
    height: 300px;
}

